# pandas
used for basically data analysis such as data manipulation, data visualisation, building ML models
Panas Data Structures are..........Series(works as numpy array), Data Frame
Pandas is basically build on top of numpy array

# Pandas Series

In [7]:
import pandas as pd

In [17]:
#series() function works just like the np.array()
a = pd.Series([1,2,3,4,5])

In [18]:
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

Here the 1st column represents as index & the 2nd column represents the value

In [19]:
#If we want to check the type of "a"
type(a)

pandas.core.series.Series

In [20]:
a[2]

3

In [21]:
a = pd.Series(['a','b','c'])

In [13]:
a

0    a
1    b
2    c
dtype: object

N.B: In Series() function if we store there string then it represent as 'OBJECT'

In [14]:
#If we want the date list 
a = pd.date_range(start = '01-01-2020', end = '07-05-2020')

In [15]:
a

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2020-06-26', '2020-06-27', '2020-06-28', '2020-06-29',
               '2020-06-30', '2020-07-01', '2020-07-02', '2020-07-03',
               '2020-07-04', '2020-07-05'],
              dtype='datetime64[ns]', length=187, freq='D')

In [16]:
type(a)

pandas.core.indexes.datetimes.DatetimeIndex

# Pandas DataFrame

In [22]:
import numpy as np

In [23]:
temp = np.random.randint(low = 20, high = 100, size = [20,]) #That means 20 to 100 random values of 20 size
name = np.random.choice(['Faysal', 'Borshon', 'Nadia', 'Nodi'], 20) #That means these names are coming randomly 20 times
value = np.random.choice(['75','77','2','100'], 20)

Now we will zip all the variables to a list for making the DataFrame properly

In [24]:
a = list(zip(temp, name, value))

In [25]:
df = pd.DataFrame(data = a, columns = ['Temp', 'Name', 'Value'])

In [26]:
df

    Temp     Name Value
0     85    Nadia   100
1     79   Faysal    77
2     86   Faysal    77
3     22  Borshon   100
4     59  Borshon     2
5     47    Nadia    77
6     74    Nadia    75
7     54   Faysal    75
8     86     Nodi     2
9     42    Nadia    75
10    51   Faysal     2
11    57  Borshon    75
12    49    Nadia    77
13    64    Nadia     2
14    29    Nadia     2
15    97     Nodi    77
16    40     Nodi     2
17    22   Faysal   100
18    84   Faysal     2
19    31  Borshon    77

In [43]:
type(df)

pandas.core.frame.DataFrame